body{
    background-color: black;
    color: aliceblue;
    position: relative;
}

header{
    padding: 2px 3%;
    text-align: center;
    position: sticky;
    background-color: dimgray;

}

main{
    margin: 0 180px;
    
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1, h2, h3{
    text-align: center;
}

.hard{
    color: red;
}

.soft{
    color: aqua;
}