@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Oswald:wght@200..700&display=swap');

body{
    width: 80vw;
    margin: auto;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    background-color: black;
    color: aliceblue;
}

header{
    background-image: linear-gradient(to bottom right, #000000, #DC143C);
    margin: 0;
    position: fixed;
}

a{
    padding: 2rem;
}



.social{
    margin: 10px;
    text-decoration: none;
    color: aliceblue;
}

.nome-curriculo{
    font-family: "Anta", sans-serif;
    font-size: 3rem;
    margin:auto ;
}

.sobre-mim{
    margin-bottom: 20px;
}

section{
    padding: 40px;
}

.escola{
    margin-bottom: 20px;
}

.titulo-seco{
    text-transform: uppercase;
    font-family: "Anta", sans-serif;
    color: crimson;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
}

.hard{
    color: orange;
    font-family: "Anta", sans-serif;
}

.soft{
    color: aqua;
    font-family: "Anta", sans-serif;
}