@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Oswald:wght@200..700&display=swap');

*{
    scroll-behavior: smooth;
}

:root{
    font-size: 16px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track{
    background-color: #000000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: crimson;
    border-radius: 10px;
}

::-webkit-scrollbar{
    width: 0.3rem;
}

button{
    background-color: #610000;
    color: aliceblue;
    padding: 7px;
    text-align: center;
    border-radius: 32px;
    transition: .3s;
}

button :hover{
    background-color: #610000;
    color: aliceblue;
}

body{
    margin: 0 auto;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    background-color: black;
    color: aliceblue;
}

header{
    background-image: linear-gradient(to bottom right, crimson, black);
    margin: 0 auto;
    display: flex;
    justify-content: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 10px;
    backdrop-filter: blur(10px);
    background-color: 0 ,0, 0, 0, 1;
}

header a :hover{
    transform: scale(1.1);
}


header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;

}

.telefone{
    padding: 6px;
    color: lime;
}

a{
    text-decoration: none;
    font-size: 17px;
}

p{
    line-height: 1.5;
    margin:  1rem 0;
    text-shadow: 1px 1px 1px white;
}

li{
    line-height: 1.5;
    text-shadow: 1px 1px 1px white;
}

h3{
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px white;
}

.social{
    margin: 18px;
    text-decoration: none;
    color: aliceblue;
    text-align: left;
}

.nome-curriculo{
    font-family: "Anta", sans-serif;
    font-size: 3rem;
    margin:auto;
}

.sobre-mim{
    margin-bottom: 20px;
}

section{
    padding: 30px;
}

.escola{
    margin-bottom: 40px;
}

.titulo-seco{
    text-transform: uppercase;
    font-family: "Anta", sans-serif;
    color: crimson;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    text-shadow: 1px 1px 1px yellow;
}

.hard{
    color: orange;
    font-family: "Anta", sans-serif;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    text-shadow: 1px 1px 1px red;
}

.soft{
    color: aqua;
    font-family: "Anta", sans-serif;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    text-shadow: 1px 1px 1px cornflowerblue;
}

#articulacoes{
    width: 30%;
    background-color: darkorchid;
    padding: 2rem;
}

#articulacoes p, h1, h2{
    font-family: "DM Sans", sans-serif;
    text-align: justify;
    display: flex;
    justify-content: space-evenly;
}

.autor{
    font-style: oblique;
    font-weight: 600;
    font-size: 80%;
}

.data{
    font-style: oblique;
    font-size: 80%;
}

.continue-lendo{
    background-color: crimson;
    padding: .5rem 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    color: white;
}

.continue-lendo a{
    text-decoration: none;
}

.first{
    text-shadow: none;
}


article p{
    text-align: justify;
    margin-bottom: 1rem;
}

article h1{
    font-size: 2rem;
    font-weight: bold;
}

article h2{
    font-size: 1.5rem;
    font-weight: 600;
}
